@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  } 
@keyframes cardanim{
  0%{
    top: -100%;
  }
  100%{
    top: 0%;
  }
}

 
body{
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#home{
   background-image: url(https://img.freepik.com/premium-photo/flat-lay-composition-with-citrus-fruits-leaves-flowers-white-background-copy-space-banner_370312-155.jpg?w=2000); 
   background-size: cover;
   /* transform: rotate(180deg); */
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   font-family: 'Poppins', sans-serif;
}
.logo{
    border-radius: 50%;
    width: 350px;
    animation: float 2s linear infinite;
}
.homeleft{
    display: grid;
    place-items: center;
}
.homeright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.homebtn{
    width: 200px;
    height: 40px;
}
#gallery{
    background-color: #f7f7f7;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 70px;
}
.main-glr{
    margin: 20px 0px;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px 0px;
}
#gallery img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    /* transition: transform 0.3s ease; */
}.card-content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    display: none;
    animation-duration: 0.3s;
    font-family: 'Poppins', sans-serif;
    /* animation-name: cardreturn;
    animation-duration: 0.3s; */
    /* transition: all .2s linear; */
    /* overflow: hidden; */
  }
  /* .card:hover img{
    opacity: 0.2;
  } */
  .card:hover .card-content {
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    border-radius: 10px;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    animation-name: cardanim;
    animation-duration: 0.3s;
    overflow: hidden;
    /* transition: top 0.5s ease; */
  }
  .default-text{
    color: black;
  }
  .default-text,
  .default-button {
  margin: 0;
}

.card:hover .default-text {
  display: none; /* Hide default text on hover */
}

.card:hover .default-button {
  display: none; /* Hide default button on hover */
}

/* Add styles for the new text and button */
.card-content p,
.card-content button {
  display: none; /* Initially hide new text and button */
}

.card:hover .card-content p,
.card:hover .card-content button {
  display: block; /* Show new text and button on hover */
}
/* .menu-image{
    max-width: 60px;
    max-height: 50px;
    border-radius: 50%;
} */
.card1{
    width: 500px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 10px;
}
.photo{
    width: 80px;
    height: 100%;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.name{
   flex: 1;
   display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px 100px;
    margin: 50px 0px;
    font-family: 'Poppins', sans-serif;
}
.rate{
    font-weight: bolder;
    width: 80px;
    height: 100%;
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#time{
    background-color: #f7f7f7;
}
.time-main{
    margin: 30px 100px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.leftbar{
    background-image: url(https://www.alphafoodie.com/wp-content/uploads/2021/11/Apple-Juice-Square.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 0px 0px 20px;
    min-width: 250px;
    width: 50%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.rightbar{
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148810353.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702252800&semt=ais);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 20px 20px 0px;
    min-width: 250px;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.hour{
    width: 70%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
}
#contact{
    padding: 0;
}footer{
    margin-top: 50px;
    height: 150px;
    background-color: rgb(229, 225, 225);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 25px;
}footer a{
    text-decoration: none;
    color: black;
}
.homeright h1{
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}
.navbar{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
.leftbar h1{
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px 20px rgba(0, 0, 0,5);
}
.rightbar{
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}
.rightbar h3{
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
}
.rightbar h6{
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  white-space: nowrap;
}
.homebtn::after{
    content:"";
}
.homebtn:hover::after {
  background-color: black;
  color: white;
}

@media screen and (max-width: 576px){
  .logo{
    width: 200px !important;
  }
  .card1 h4, h5{
    font-size: 15px !important;
  }
  .homeright{
    align-items: center;
    margin: 0px 20px;
  }
  .homebtn{
    align-self: center;
    
  }
  .rightbar{
    align-items: flex-start !important;
    /* justify-content: space-evenly !important; */
  }
  .rightbar h3{
    font-size: 20px;
  }
  .rightbar h6{
    font-size: 15px;
  }
  .hour{
    gap: 15px;
  }
  footer{
    height: 50px;
  }
  footer a{
    font-size: 15px;
    gap: 20px;
  }
}